*{
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
}

.main-container{
    background-color:whitesmoke;
    font-family: sans-serif;
    width: 90%;
    margin: auto;
    padding: 10px;
}

.img-header{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-shadow: 2px 2px 8px black;
}

.img-header img{
    width: 20%;
}

.menu-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.menu-header a{
    flex: 1;
    text-decoration: none;
    padding: 10px;
    background-color: green;
    color: white;
    text-align: center;
    border: 1px white solid;
}

.menu-header a:hover{
    background-color: black;
    color: white;
}

.info-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.paket-container{
    width: 300px;
    margin: 10px;
}

.paket-container h4{
    color: grey;
}

.paket-container img{
    width: 100%;
    border: 2px solid white;
    box-shadow: 2px 2px 8px black;
}

.video-container{
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-container iframe{
    width: 100%;
    height: auto;
    border: 2px solid white;
    box-shadow: 2px 2px 8px black;
}

.search-container{
    margin-bottom: 10px;
}

.search-container input[type='text']{
    padding: 5px;
    margin-right: 10px;
}

.search-container input[type='submit']{
    padding: 5px;
}

.brand-container{
    width: 60%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.brand-container h1{
    color: white;
    font-size: 3.5vw;
    text-shadow: 2px 2px 8px black;
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.brand-container h3{
    color: white;
    font-size: 2.5vw;
    text-shadow: 2px 2px 8px black;
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.brand-container img{
    width: 15%;
}
